<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<typeAliases>
		<typeAlias type="com.smhrd.model.Member" alias="member"/>	
		<typeAlias type="com.smhrd.model.Food" alias="food"/>
		<typeAlias type="com.smhrd.model.Board" alias="Board"/>
	
	</typeAliases>

 <!--  환경설정(계정 , dirver, url, ... -->


  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
       
        <property name="url" value="jdbc:oracle:thin:@project-db-campus.smhrd.com:1524:xe"/> <!-- 211.63.240.40 -->
        <property name="username" value="campus_24IS_BIG3_P2_3"/>
        <property name="password" value="smhrd3"/>
      </dataSource>
    </environment>
  </environments>
  
  <!--  sql문들정의해주는 mapper.xml를 계속만들건데 어디에있는지 경로를 지정-->
  <mappers>
    
    <mapper resource="com/smhrd/db/MemberMapper.xml"/>
    <mapper resource="com/smhrd/db/FoodMapper.xml"/>
    <mapper resource="com/smhrd/db/BoardMapper.xml"/>
    
    
  </mappers>
</configuration>